<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>dons</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>EventServlet</display-name>
    <servlet-name>EventServlet</servlet-name>
    <servlet-class>web.EventServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EventServlet</servlet-name>
    <url-pattern>/EventServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DemandeServlet</display-name>
    <servlet-name>DemandeServlet</servlet-name>
    <servlet-class>web.DemandeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DemandeServlet</servlet-name>
    <url-pattern>/DemandeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DonateurServlet</display-name>
    <servlet-name>DonateurServlet</servlet-name>
    <servlet-class>web.DonateurServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DonateurServlet</servlet-name>
    <url-pattern>/DonateurServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TransporteursServlet</display-name>
    <servlet-name>TransporteursServlet</servlet-name>
    <servlet-class>web.TransporteursServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TransporteursServlet</servlet-name>
    <url-pattern>/TransporteursServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TransServlet</display-name>
    <servlet-name>TransServlet</servlet-name>
    <servlet-class>web.TransServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TransServlet</servlet-name>
    <url-pattern>/TransServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>test</display-name>
    <servlet-name>test</servlet-name>
    <servlet-class>web.test</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>test</servlet-name>
    <url-pattern>/test</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ser</display-name>
    <servlet-name>ser</servlet-name>
    <servlet-class>ser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ser</servlet-name>
    <url-pattern>/ser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DonServlet</display-name>
    <servlet-name>DonServlet</servlet-name>
    <servlet-class>web.DonServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DonServlet</servlet-name>
    <url-pattern>/DonServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>web.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterServlet</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>web.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
</web-app>